In [1]:
import pandas as pd

# Some basic data
a = { 'name': 'John', 'age': 29, 'id': 1 }
b = { 'name': 'Doe', 'age': 19, 'id': 2 }
c = [ a, b ]
c

[{'age': 29, 'id': 1, 'name': 'John'}, {'age': 19, 'id': 2, 'name': 'Doe'}]

In [12]:
# Using the above data as Foreign Key (FK)
p = { 'user_id': 1, 'likes': 'Mango' }
q = { 'user_id': 1, 'likes': 'Pepsi' }
r = { 'user_id': 2, 'likes': 'Burger' }
s = { 'user_id': 2, 'likes': 'Mango' }
t = [ p, q, r, s ]
t

[{'likes': 'Mango', 'user_id': 1},
 {'likes': 'Pepsi', 'user_id': 1},
 {'likes': 'Burger', 'user_id': 2},
 {'likes': 'Mango', 'user_id': 2}]

In [6]:
# Create Pandas DataFrame object and set
# appropriate index

from tabulate import tabulate

df1 = pd.DataFrame(c)
df1.set_index('id')
df1

    likes  user_id
0   Mango        1
1   Pepsi        1
2  Burger        2

In [13]:
df2 = pd.DataFrame(t)
df2.set_index('user_id')
df2

    likes  user_id
0   Mango        1
1   Pepsi        1
2  Burger        2
3   Mango        2

In [14]:
# Using the FK relation to create a join
pd.merge(df1, df2, left_on='id', right_on='user_id')
m = pd.merge(df1, df2, left_on='id', right_on='user_id')
m.set_index('user_id')
m

   age  id  name   likes  user_id
0   29   1  John   Mango        1
1   29   1  John   Pepsi        1
2   19   2   Doe  Burger        2
3   19   2   Doe   Mango        2

In [16]:
# Basic aggregate operations
m.groupby('likes')
m.groupby('likes')['likes'].count()

likes
Burger    1
Mango     2
Pepsi     1
Name: likes, dtype: int64